html, body {
    margin: 0;
    padding: 0;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
main {
    flex: 1;
}

footer {
    background-color: #000;
    color: #fff;
    padding: 1rem 0;
}
.custom-shadow {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}
.text-shadow {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.no-resize {
resize: none;
}
#dropdownMenuButton::before {
    display: none;
}

.popup{
    position: absolute !important;
    top: 350px !important;
    right: 10px !important;
} 